<div class="home-featured bg-grey py-30">
    <div class="container">
        <div class="row-change">
            <div class="cot-12 cot-5-lg position-relative">
                <div class="home-featured-img position-relative">
                    <img class="home-book" src="../public/app/images/book.png" alt="">
                    <img class="home-book-1" src="../public/app/images/book-1.png" alt="">
                </div>
            </div>
            <div
                class="cot-12 cot-7-lg py-30 pe-15 ps-15 ps-md-30 pe-md-30 ps-lg-0 pe-lg-30 d-flex flex-column gap-2">
                <span class="home-featured-label">FEATURED</span>
                <a href="#">
                    <h2>Nghệ thuật tắm rừng của người Nhật</h2>
                </a>
                <span>Tên tác giả: Nguyễn Công Đoàn</span>
                <div class="home-tulieu-star">
                    <i class="me-1 bi bi-star-fill"></i>
                    <i class="me-1 bi bi-star-fill"></i>
                    <i class="me-1 bi bi-star-fill"></i>
                    <i class="me-1 bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
            </div>
        </div>
    </div>
</div>