<footer>
    <div class="container">
        <div class="row-change">

            <div class="cot-3-lg cot-12 cot-6-md">
                <a href="#" class="ft-logo mb-3">
                    <img src="../public/app/images/logo.png" alt="">
                </a>
                <ul class="mb-3">
                    <span>Là dự án phối hợp giữa 3 đơn vị:</span>
                    <li>Trung tâm Bảo tồn Đa dạng sinh học Nước Việt Xanh</li>
                    <li>Nhóm nghiên cứu và giảng dạy tài nguyên sinh vật, ĐH Đà Nẵng</li>
                    <li>Khoa sinh - Môi Trường ĐH sư phạm, ĐH Đà Nẵng</li>
                </ul>
                <a href="#">
                    <span class="ft-add">70 Lý Tử Tấn, Sơn Trà, Đà Nẵng</span>
                </a>
                <a href="#">
                    <span class="ft-mail">info@library.com</span>
                </a>
                <a href="#">
                    <span class="ft-phone">+84 975250576</span>
                </a>
                <div class="ft-social mt-3 d-flex">
                    <a href="">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>

            <div class="cot-3-lg cot-12 cot-6-md ft-info">
                <h3 class="underline position-relative mb-3">Về dự án</h3>
                <ul>
                    <li><a href="#">Thư ngỏ</a></li>
                    <li><a href="#">Dự án Trang thông tin Thiên nhiên Đà Nẵng</a></li>
                    <li><a href="#">Kết quả đạt được</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Đối tác và nhà tài trợ</a></li>
                </ul>
            </div>
            <div class="cot-3-lg cot-12 cot-6-md ft-info">
                <h3 class="underline position-relative mb-3">Tư liệu</h3>
                <ul>
                    <li><a href="#">Thư ngỏ</a></li>
                    <li><a href="#">Dự án Trang thông tin Thiên nhiên Đà Nẵng</a></li>
                    <li><a href="#">Kết quả đạt được</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Đối tác và nhà tài trợ</a></li>
                </ul>
            </div>
            <div class="cot-3-lg cot-12 cot-6-md ft-info">
                <h3 class="underline position-relative mb-3">Đồng hành</h3>
                <ul>
                    <li><a href="#">Thư ngỏ</a></li>
                    <li><a href="#">Dự án Trang thông tin Thiên nhiên Đà Nẵng</a></li>
                    <li><a href="#">Kết quả đạt được</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Đối tác và nhà tài trợ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom py-3 d-flex align-items-center justify-content-center">
    <a href="#">
        <span>2022 All Rights Reserved - thiennhiendanang.vn</span>
    </a>
</div>