<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- favi-logo -->
<link rel="icon" type="image/x-icon" href="../public/app/images/logo-favi.svg">
<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

<title>Thiên Nhiên Đà Nẵng</title>

<!--bootstrap 5.2.0 -->
<link rel="stylesheet" href="../public/app/css/bootstrap.min.css">
<!-- Owl-slider -->
<link rel="stylesheet" href="../public/app/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="../public/app/owlcarousel/assets/owl.theme.default.min.css">
<!-- animate -->
<link rel="stylesheet" href="../public/app/css/animate.min.css">
<link rel="stylesheet" href="../public/app/css/aos.2.3.1.css">
<!-- icon-1.10.2 -->
<link rel="stylesheet" href="bootstrap-icons/bootstrap-icons.css">
<!-- Plyr-player -->
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css">
<!-- lightGallery -->
<link type="text/css" rel="stylesheet" href="public/app/lightGallery/css/lightgallery-bundle.min.css">
<!-- custom-library -->
<link rel="stylesheet" href="../public/app/css/col-change.css">
<!-- main-style -->
<link rel="stylesheet" href="../public/app/css/style.css">
<!-- navbar-css -->
<link rel="stylesheet" href="../public/app/css/nav-custom.css">
<!-- owl-slider-css -->
<link rel="stylesheet" href="../public/app/css/owl-custom.css">