<div class="home-sukien position-relative"
        style="background-image: url(https://source.unsplash.com/random/1200x400/?natural);">
        <div class="container d-flex flex-column h-100 justify-content-center align-items-center position-relative">
            <h3 class="h3-title">Clean up Son Tra</h3>
            <div class="home-sukien-time d-flex">
                <span><i class="me-2 bi bi-calendar3"></i>27/08/2022</span>
                <span><i class="me-2 bi bi-clock"></i>08:45 AM - 08:00 PM</span>
                <span><i class="me-2 bi bi-geo-alt"></i>Hội Trường phòng 107. Toà nhà A5, Trường Đại học sư phạm Đà
                    Nẵng, 459 Tôn Đức Thắng, quận Liên Chiểu, Đà Nẵng</span>
                <span class="sukien-label">Sự kiện sắp tới</span>
            </div>
            <span>Chung tay làm sạch bán đảo Sơn Trà!!</span>
            <a href="#" class="color-2">
                <span class="mb-3">Chi tiết></span>
            </a>
        </div>
    </div>