<div class="home-about py-90 bg-grey" id="about-us">
    <div class="container">
        <% if (dataCategories) {
            const category = dataCategories.find(category => category._id === 'WSIqFEUod');
            if (category) {
                    name = category.name,
                    desc = category.desc
             %>
        <h3 class="h3-title mb-3 text-center"><%= name.toUpperCase()%></h3>
        <p class="p-title mb-5"><%= desc%></p>
            <%}
        }%>
        <div class="row-change">
            <%if(dataProducts ){
                dataProducts.forEach((prod) => {
                    if(prod.categoryIds[0] === 'WSIqFEUod'){
                        nameProd = prod.name;
                        const pathImage = prod.images[0]?.image || '';
              %>
            <div class="cot-12 cot-4-md px-30 py-30 home-about-box">
                <img class="mb-3" src="../<%= pathImage%>" alt="">
                <h4 class="text-center"><%- nameProd%></h4>
            </div>
             <%  }
              });
            }%>
        </div>
    </div>
</div>