<div class="home-luuluong py-90" style="background-image: url(images/Tree-bg-2.svg);">
    <div class="container">
        <div class="row-change">
            <div class="ketqua-title cot-12 mb-4">
                <h3 class="text-center h3-title mb-2">Kết quả đạt được</h3>
                <p class="p-title">Trang thông tin Thiên nhiên Đà Nẵng chính thức hoạt động từ tháng 1/2023 đến nay</p>
            </div>
            <div class="ketqua-box cot-6 cot-3-md d-flex flex-column">
                <span class="text-color-noti">205</span>
                <img src="../public/app/images/icon/luuluong.svg" alt="">
                <span>Lượng truy cập</span>
            </div>
            <div class="ketqua-box cot-6 cot-3-md d-flex flex-column">
                <span class="text-color-3">431</span>
                <img src="../public/app/images/icon/thanhvien.svg" alt="">
                <span>Thành viên</span>
            </div>
            <div class="ketqua-box cot-6 cot-3-md d-flex flex-column">
                <span class="text-color-3">849</span>
                <img src="../public/app/images/icon/donggop.svg" alt="">
                <span>Lượng đóng góp</span>
            </div>
            <div class="ketqua-box cot-6 cot-3-md d-flex flex-column">
                <span class="color-2">570</span>
                <img src="../public/app/images/icon/taixuong.svg" alt="">
                <span>Tải xuống</span>
            </div>
        </div>
    </div>
</div>