<div class="side-box">
    <h4 class="mb-4">Tin mới nhất</h4>
    <div class="book-box news-box mb-4">
        <div class="book-box-img">
            <img src="https://source.unsplash.com/random/600x800/?natural"
                    alt="">
        </div>
        <div class="book-detail">
            <a href="#">
                 <h5 class="mb-1 br-line-3">Mùa hoa vàng trên bán đảo Sơn Trà</h5>
            </a>
            <span class="book-author">Tô Hoài</span>
        </div>
    </div>
    <div class="book-box news-box mb-4">
        <div class="book-box-img">
            <img src="https://source.unsplash.com/random/600x801/?natural"
                    alt="">
        </div>
        <div class="book-detail">
            <a href="#">
                 <h5 class="mb-1 br-line-3">Mùa hoa vàng trên bán đảo Sơn Trà</h5>
            </a>
            <span class="book-author">Tô Hoài</span>
        </div>
    </div>

</div>