<div class="side-box side-category">
    <h4 class="mb-4">Tin liên quan</h4>
    <ul class="side-cate-list-2">
        <li><a href="#">Chuyện con người với thiên nhiên Đà Nẵng</a><span>Tác giả</span></li>
        <li><a href="#">Các chương trình tình nguyện thiên nhiên tại Đà Nẵng</a><span>Tác giả</span></li>
        <li><a href="#">Các đơn vị hoạt động giáo dục môi trường tại Việt Nam</a><span>Tác giả</span></li>
        <li><a href="#">Các trang thông tin về thiên nhiên và môi trường</a><span>Tác giả</span></li>
        <li><a href="#">Các chương trình tình nguyện thiên nhiên trên thế giới</a><span>Tác giả</span></li>
    </ul>
</div>