<div class="side-box tags-box">
    <h4 class="mb-4">Tags</h4>
    <div class="tags-list">
        <a class="tag-item" href="#">Thiên nhiên<i>2</i></a>
        <a class="tag-item" href="#">Đà Nẵng<i>5</i></a>
        <a class="tag-item" href="#">Hệ sinh thái biển<i>10</i></a>
        <a class="tag-item" href="#">Luận án Tiến Sĩ<i>19</i></a>
        <a class="tag-item" href="#">Loài thực vật xâm lấn<i>50</i></a>
    </div>
</div>