<div class="about-thungo py-90">
    <div class="container">
        <div class="row-change">
            <div class="cot-6-md d-flex justify-content-between">
                <div class="about-thungo-img">
                    <img src="https://static.tuoitre.vn/tto/i/s626/2017/05/23/vooc-1-1495532964.jpg" alt="">
                </div>
                <div class="about-thungo-img">
                    <img src="https://icdn.dantri.com.vn/zoom/1200_630/2017/dscn5281-3-fotor-1489190745649.jpg"
                        alt="">
                </div>
            </div>
            <div class="cot-6-md">
                <h3 class="h3-title underline position-relative mb-5">Thư ngỏ</h3>
                <p class="mb-5 text-color-1">Thành phố Đà Nẵng được biết đến là một thành phố môi trường. Thành phố
                    có sự đa dạng sinh học cao, cảnh quan thiên nhiên độc đáo, nơi được mệnh danh có khu rừng trong
                    phố như Khu bảo tồn thiên nhiên Sơn Trà, Khu bảo tồn thiên nhiên Bà Nà - Núi Chúa, Rừng đặc dụng
                    Nam Hải Vân và sinh cảnh ven biển trải dài. Mỗi hệ sinh thái lại được đóng góp bởi các loài động
                    thực vật, các mắt xích khác nhau với nhịp điệu sống, mối liên hệ tự nhiên khác nhau, tạo ra
                    những khoảnh khắc đẹp, độc đáo, chứa nhiều giá trị trong khoa học và giáo dục.
                </p>
                <a class="main-btn mx-auto mx-md-0" href="#">
                     Xem Thêm 
                </a>
            </div>
        </div>
    </div>
</div>