<div class="row">
  <div class="col-12">
    <h4 id="data-other" class="anchor-heading mb-4 fw-bold">Data Other<a href="#data-other"
        class="anchorjs-link ps-2">#</a></h4>
    <div class="doc-example">
      <div class="doc-example-content" data-label="object-data">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code"><code class="json">
<span class="hljs-variable">pageId</span>: String;
<span class="hljs-variable">categories</span>: [
{
  url: String,
  name: String,
  images: [String],
  seoTitle: String,
  seoName: String,
  seoKeyWord: String,
  seoDes: String,
  parents: String,
  _id: String,
  pageId: String,
  id: String
},];
<span class="hljs-variable">products</span>: [
{
  _id :String
  url : String
  pageId : String
  categoryIds : [String]
  name : String
  linkVideo : String
  desShort : String
  description : String
  images : [{
    _id : string
    image : string
    name : string
    author : string
    copyright : string
    source : string
    year: string
  }]
  ecommerce : {
    _id : string
    price : string
    priceSale : string
    quantity : string
    discount : string
  }
  commentIds : [String]
  contact : {
    _id : string
    name : string
    email : string
    phone : string
    country : string
  }
  seoTitle: String
  seoName: String
  seoKeyWord : String
  seoDes : String
  status : String
  userPost : String
  counter : Number
  showTop : Boolean
},];
      </pre>
      </div>
    </div>
  </div>
</div>