<div class="row">
  <div class="col-12">
    <h4 id="data-paymendMethod" class="anchor-heading mb-4 fw-bold">Data PaymendMethod<a href="#data-paymendMethod"
        class="anchorjs-link ps-2">#</a></h4>
    <div class="doc-example">
      <div class="doc-example-content" data-label="object-data">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code"><code class="json">
<span class="hljs-variable">_id</span>: String;
<span class="hljs-variable">name</span>: String; // tên phương thức
<span class="hljs-variable">accountName</span>: String; // tên tk ngân hàng 
<span class="hljs-variable">accountNumber</span>: String;// số tk ngân hàng 
<span class="hljs-variable">bankName</span>: String;//tên ngân hàng 
      </pre>
      </div>
    </div>
  </div>
</div>