<div class="row">
  <div class="col-12">
    <h4 id="data-shipMethod" class="anchor-heading mb-4 fw-bold">Data ShipMethod<a href="#data-shipMethod"
        class="anchorjs-link ps-2">#</a></h4>
    <div class="doc-example">
      <div class="doc-example-content" data-label="object-data">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code"><code class="json">
<span class="hljs-variable">_id</span>: String;
<span class="hljs-variable">name</span>: String;
<span class="hljs-variable">image</span>: String;
<span class="hljs-variable">price</span>: String;
      </pre>
      </div>
    </div>
  </div>
</div>