<div class="row">
  <div class="col-12">
    <h4 id="data-contact" class="anchor-heading mb-4 fw-bold">Data Contact<a href="#data-contact"
        class="anchorjs-link ps-2">#</a></h4>
    <div class="doc-example">
      <div class="doc-example-content" data-label="object-data">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code"><code class="json">
<span class="hljs-variable">_id</span>: String;
<span class="hljs-variable">name</span>: String;
<span class="hljs-variable">address</span>: String;
<span class="hljs-variable">linkMap</span>: [String;
<span class="hljs-variable">description</span>: String;
<span class="hljs-variable">phone1</span>: String;
<span class="hljs-variable">phone2</span>: String;
<span class="hljs-variable">email</span>: String;
      </pre>
      </div>
    </div>
  </div>
</div>