<div class="row">
  <div class="col-12">
    <h4 id="post-message" class="anchor-heading mb-4 fw-bold">Post Message<a href="#post-message"
        class="anchorjs-link ps-2">#</a></h4>
        <div class="doc-example">
          <div class="doc-example-content" data-label="Action">
            <div class="doc-clipboard">
              <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Copy to clipboard">
                Copy
              </button>
            </div>
            <pre class="docs-code"> <code class="html hljs language-xml">
              &lt;form action="/addMessage" method="POST"&gt;
            </code></pre>
          </div>
        </div>
    <div class="doc-example mt-1">
      <div class="doc-example-content" data-label="Post - Message">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code">
<code class="json">
<span class="hljs-variable"></span> {
  title:   String     //"Tiêu đề",
  address :  String   //"địa chỉ",
  message :  String   //"tin nhắn",
  content : String    //"nôi dung yêu cầu",
  name:   String      //"tên liên hệ",
  phone: String       //"số điện thoại",
  email:  String      //"địa chỉ email",
  productIds : String //"sản phẩm yêu cầu nếu có",
  categoryIds :String // "thể loại yêu cầu nếu có"
};
</code>
      </pre>
      </div>
    </div>
  </div>
</div>