<div class="row">
  <div class="col-12">
    <h4 id="resize-image" class="anchor-heading mb-4 fw-bold">Resize Image<a href="#resize-image"
        class="anchorjs-link ps-2">#</a></h4>
    <div class="doc-example">
      <div class="doc-example-content" data-label="site url">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code">
          <code class="html hljs language-xml">
          
          <span class="hljs-tag"><a href="/thumbnail/250/test/21-6-2023/test.webp">>> 250</a>  &lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/thumbnail/250/test/21-6-2023/test.webp"</span>/&gt;</span>
          <span class="hljs-tag"><a href="/thumbnail/480/test/21-6-2023/test.webp">>> 480</a>  &lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/thumbnail/480/test/21-6-2023/test.webp"</span>/&gt;</span>
          <span class="hljs-tag"><a href="/thumbnail/720/test/21-6-2023/test.webp">>> 720</a>  &lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/thumbnail/720/test/21-6-2023/test.webp"</span>/&gt;</span>
          <span class="hljs-tag"><a href="/thumbnail/1200/test/21-6-2023/test.webp">>> 1200</a>  &lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/thumbnail/1200/test/21-6-2023/test.webp"</span>/&gt;</span>
          <span class="hljs-tag"><a href="/thumbnail/1280/test/21-6-2023/test.webp">>> 1280</a>  &lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/thumbnail/1280/test/21-6-2023/test.webp"</span>/&gt;</span>
        </code></pre>
      </div>
    </div>
  </div>
</div>