<div class="row">
  <div class="col-12">
    <h4 id="response-data" class="anchor-heading mb-4 fw-bold">Response Data<a href="#response-data"
        class="anchorjs-link ps-2">#</a></h4>
    <p>Mỗi Site sẽ trả về data được setting ở mục site</p>
    <div class="doc-example">
      <div class="doc-example-content" data-label="object-data">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code"><code class="json">
<span class="hljs-variable">urlCurrentName</span>: String;
<span class="hljs-variable">dataSite</span>: Object;
<span class="hljs-variable">dataMenus</span>: [Object];
<span class="hljs-variable">dataCategories</span>: [Object];
<span class="hljs-variable">dataProducts</span>: [Object];
<span class="hljs-variable">dataOther1</span>: Object;   // example using :  dataOther1.pageId
<span class="hljs-variable">dataOther2</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataOther3</span>: Object;   // example using :  dataOther1.pageId
<span class="hljs-variable">dataOther4</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataOther5</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataOther6</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataOther7</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataOther8</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataOther9</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataOther10</span>: Object;   // example using :  dataOther2.pageId
<span class="hljs-variable">dataContact</span>: Object;  // example using :  dataContact._id
<span class="hljs-variable">dataProductDetail</span>: Object; // example using : Data Product
<span class="hljs-variable">dataCategoryDetail</span>: Object; // example using : Data Products By Category Id
<span class="hljs-variable">dataLanguages</span>: [Object];
<span class="hljs-variable">languageCodeCurrent</span>: String;
<span class="hljs-variable">dataAttibutes</span>: [Object];
<span class="hljs-variable">dataShipMethods</span>: [Object];
<span class="hljs-variable">dataPaymendMethods</span>: [Object];
      </pre>
      </div>
    </div>
  </div>
</div>