<div class="row">
  <div class="col-12">
    <h4 id="code-search-data" class="anchor-heading mb-4 fw-bold">Code search-data<a href="#code-search-data"
        class="anchorjs-link ps-2">#</a></h4>
    <div class="doc-search-data">
      <div class="doc-search-data-content" data-label="search-data Menu">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code"><code class="html ejs">
          METHOR : POST
          http://localhost:3600?cate=""&query=""&hashtag=""&attribute=""&label=""

          Body : 
          {
            "pageId" : "food",
            "query" : null,
            "start": 0,
            "limit": 10,
            "language" :  null,
            "hashtag" : "chuyennho",
            "attribute" : "FFFFFF",
            "cateId" : null,
            "label" : null
         }  
      </pre>
      </div>
    </div>
  </div>
</div>