<div class="row">
  <div class="col-12">
    <h4 id="update-view" class="anchor-heading mb-4 fw-bold">View Example<a href="#update-view"
        class="anchorjs-link ps-2">#</a></h4>
    <div class="doc-example mt-1">
      <div class="doc-example-content" data-label="sub menu url">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <pre class="docs-code">
              <code class="html hljs language-xml">
                <span class="hljs-tag">&lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/login"</span>/&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/logout"</span>/&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">a </span><span class="hljs-attr">href</span>=<span class="hljs-string">"/profile"</span>/&gt;</span>
            </code></pre>
      </div>
    </div>

    <div class="doc-example">
      <div class="doc-example-content" data-label="Example Menu">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
         <a href="../public/authCustomer/login.ejs">login.ejs (Down file login EJS)</a>
     
      </div>
    </div>

    <div class="doc-example">
      <div class="doc-example-content" data-label="Example Menu">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <a href="../public/authCustomer/signup.ejs">signup.ejs (Down file signup EJS)</a>
      </div>
    </div>

    <div class="doc-example">
      <div class="doc-example-content" data-label="Example Menu">
        <div class="doc-clipboard">
          <button type="button" class="btn-clipboard" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Copy to clipboard">
            Copy
          </button>
        </div>
        <a href="../public/authCustomer/profile-default.ejs">profile-default.ejs (Down file profile EJS)</a>
      </div>
    </div>

  </div>
</div>