<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="../public/admin/assets/" data-template="vertical-menu-template-free">

<head>
  <%- include('../partials/head') -%>
  <!-- Page -->
  <link rel="stylesheet" href="../public/admin/assets/vendor/css/pages/page-auth.css" />
</head>

<body>
  <% var siteName = ""
     var logo = ""
    if(siteConfig != null && siteConfig != undefined){
      siteName = siteConfig.name
      logo = siteConfig.logo
  } %>
  <!-- Layout wrapper -->
  <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <img src="<%= logo %>" alt="wrapkit" style="height:60px">
              </div>
              <!-- /Logo -->
              <form id="formForgotPassword" class="mb-3 mt-3 browser-default-validation j-pro" action="/admin.forgot-password" method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    autofocus
                    required
                  />
                </div>
               
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Reset password</button>
                </div>
              </form>
              <a class="btn btn-primary d-grid w-100" href="/admin/login">Login</a>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
  </div>
  <!-- / Layout wrapper -->
  <%- include('../partials/common-js') -%>
  <%- include('../partials/common-crud-js') -%>
  <script type="text/javascript" src="../public/admin/assets/js/pages/auth/forgot-password.js"></script>
</body>

</html>