<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Payment Success</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../public/admin/assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="../public/admin/assets/vendor/fonts/boxicons.css" />
  <link rel="stylesheet" href="../public/admin/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../public/admin/assets/vendor/css/theme-default.css"
    class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../public/admin/assets/css/common.css" />

</head>

<body>
  <!-- Layout wrapper -->
  <div class="container-xxl bg-white" style="min-height: 700px;">
    <div class="authentication-wrapper authentication-cover">
      <div class="authentication-inner row m-0">
    
        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
          <div class="w-100 d-flex justify-content-center">
            <img src="../public/admin/assets/img/payment-fail.webp" class="img-fluid" alt="Login image" height="600" data-app-dark-img="illustrations/boy-verify-email-dark.png" data-app-light-img="illustrations/boy-verify-email-light.png">
          </div>
        </div>
        <!-- /Left Text -->
    
        <!--  Verify email -->
        <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-4 p-sm-5">
          <div class="w-px-400 mx-auto">
            <h3 class="mb-2">THANH TOÁN KHÔNG THÀNH CÔNG</h3>
            <p class="text-start">
              Rất tiếc thanh toán của bạn không thành công xin vui lòng thử lại.
            </p>
            <a class="btn btn-primary w-100 my-3" href="/">
              Về Trang Chủ
            </a>
          </div>
        </div>
        <!-- / Verify email -->
      </div>
    </div>
  </div>
  <!-- / Layout wrapper -->


  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->

  <!-- Page JS -->

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="../public/admin/assets/js/github.button.js"></script>
</body>

</html>