<% 
  var images = []
  var alts = ""
  if (imageData != undefined && imageData != null) {
    images = imageData
  }
  %>
<div class="mb-3">
<div class="card accordion-item mb-4">
  <h2 class="accordion-header" id="imageHTwo">
    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#image-view"
      aria-expanded="false" aria-controls="image-view">
      Hình Ảnh (accept: <span class="ms-2 fst-italic">png, jpg, gif, jpeg</span>)
    </button>
  </h2>
  <div id="image-view" class="accordion-collapse collapse show" aria-labelledby="imageHTwo" data-bs-parent="#image-view"
    style="">
    <div class="accordion-body">
      <div class="mb-3">
        <!-- Add name when using upload-->
        <input type="text" id="pageName" value="product-<%= pageCurrent%>"  hidden>
        <input type="text" class="form-control" id="images" hidden value="<%= JSON.stringify(images)%>" name="images">
        <div id="myDropzone" class="dropzone"></div>
      </div>
    </div>
  </div>
</div>
</div>