<div class="card accordion-item mb-4">
  <h2 class="accordion-header" id="treeHeader">
    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#tree-category"
      aria-expanded="false" aria-controls="tree-category">
      Danh Mục
    </button>
  </h2>
  <div id="tree-category" class="accordion collapse show" aria-labelledby="treeHeader"
    data-bs-parent="#stree-category" style="">
    <div class="accordion-body" id="treeCategoryView">
      
    </div>
  </div>
</div>