<div class="card accordion-item mb-4">
  <h2 class="accordion-header" id="cssHTwo">
    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#css-view"
      aria-expanded="false" aria-controls="css-view">
      CSS
    </button>
  </h2>
  <div id="css-view" class="accordion-collapse collapse" aria-labelledby="cssHTwo" data-bs-parent="#css-view"
    style="">
    <div class="accordion-body">
      <div class="mb-3">
        <!-- Add name when using upload-->
        <input type="text" id="folderCss" value="css"  hidden>
        <input type="text" class="form-control" hidden name="pathCss">
        <div id="appCss" class="dropzone"></div>
      </div>
    </div>
  </div>
</div>