<div class="card accordion-item mb-4">
  <h2 class="accordion-header" id="jsHTwo">
    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#js-view"
      aria-expanded="false" aria-controls="js-view">
      JavaScript
    </button>
  </h2>
  <div id="js-view" class="accordion-collapse collapse" aria-labelledby="jsHTwo" data-bs-parent="#js-view"
    style="">
    <div class="accordion-body">
      <div class="mb-3">
        <!-- Add name when using upload-->
        <input type="text" id="folderJs" value="js"  hidden>
        <input type="text" class="form-control" hidden name="pathJs">
        <div id="appJs" class="dropzone"></div>
      </div>
    </div>
  </div>
</div>