<div class="card accordion-item mb-4">
  <h2 class="accordion-header" id="htmlHTwo">
    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#html-view"
      aria-expanded="false" aria-controls="html-view">
      HTML
    </button>
  </h2>
  <div id="html-view" class="accordion-collapse collapse" aria-labelledby="htmlHTwo" data-bs-parent="#html-view"
    style="">
    <div class="accordion-body">
      <div class="mb-3">
        <!-- Add name when using upload-->
        <input type="text" id="folderHtml" value="" hidden>
        <input type="text" class="form-control" hidden name="pathHtml" value="<%=pathHtml%>" hidden>
        <div id="appHtml" class="dropzone"></div>
      </div>
    </div>
  </div>
</div>