<% 
  var isGetCategory9 = false
  var isGetProduct9 = false
  var pageId9 = ""
  var isFullSizeProduct9 = false
  var isFullFieldProduct9 = false
  var limitSizeProduct9 = 0
  if (pageOther9 != undefined && pageOther9 != null) {
    pageId9 = pageOther9.pageId 
    isGetCategory9 = pageOther9.isGetCategory
    isGetProduct9 = pageOther9.isGetProduct
    isFullSizeProduct9 = pageOther9.isFullSizeProduct
    limitSizeProduct9 = pageOther9.limitSizeProduct
    isFullFieldProduct9 = pageOther9.isFullFieldProduct
  } %>

<div class="card accordion-item mb-4">
  <h2 class="accordion-header" id="headingSetting">
    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#page-other9-view"
      aria-expanded="false" aria-controls="page-other9-view">
      Page Data Other 9
    </button>
  </h2>
  <div id="page-other9-view" class="accordion-collapse collapse" aria-labelledby="headingTwo"
    data-bs-parent="#page-other9-view">
    <div class="accordion-body">
      <div class="mb-3 mt-3">
        <select class="form-control page-data" id="page-other9" name="pageOther9">
          <option value="">
            Not Using Page Data
          </option>
          <% if(typeof pages !="undefined" && pages.length> 0){ %>
            <% pages.forEach(function(item){ %>
              <option value="<%= item._id %>" <% if(item._id == pageId9){%> selected <% }%>>
                <%= item.name %>
              </option>
              <% }); %>
                <% } %>
        </select>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between mb-2">
          <label for="cbGetCategory9" class="mb-0">Get category</label>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="cbGetCategory9"  <% if(isGetCategory9 == true){%> checked <%}%>  <% if(!pageId9){ %> disabled <% } %> name="isGetCategory9" />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between mb-2">
          <label for="cbGetProduct9" class="mb-0">Get product</label>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="cbGetProduct9"  <% if(isGetProduct9 == true){%> checked <%}%>  <% if(!pageId9){ %> disabled <% } %> name="isGetProduct9" />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex justify-content-between mb-2">
          <label for="cbSubMenu" class="mb-0">Full Size Product</label>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="cbFullSizeProduct9"  <% if(isFullSizeProduct9 == true){%> checked <%}%> name="isFullSizeProduct9" />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between mb-2">
          <label for="cbSubMenu" class="mb-0">Full Field Product</label>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="cdFullFieldProduct9"  <% if(isFullFieldProduct9 == true){%> checked <%}%>  name="isFullFieldProduct9" />
          </div>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label class="form-label" for="seo-title">Limit Size Product</label>
        <input type="text" class="form-control" id="limitSize9" name="limitSizeProduct9" placeholder="0" value="<%= limitSizeProduct9%>">
      </div>

    </div>
  </div>
</div>