<div class="col-xl-7 col-lg-6 col-md-6">
  <!-- Activity Timeline -->
  <div class="card card-action mb-4">
      <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0"><i class="bx bx-list-ul me-2"></i>Dịch vụ đang sử dụng
          </h5>
          <!-- <div class="card-action-element">
              <div class="dropdown">
                  <button type="button" class="btn dropdown-toggle hide-arrow p-0"
                      data-bs-toggle="dropdown" aria-expanded="false"><i
                          class="bx bx-dots-vertical-rounded"></i></button>
                  <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="javascript:void(0);">Share
                              timeline</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Suggest
                              edits</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Report
                              bug</a></li>
                  </ul>
              </div>
          </div> -->
      </div>
      <div class="table-responsive p-3">
          <div class="dataTables_wrapper dt-bootstrap5 no-footer">
              <table
                  class="table datatable-project border-top dataTable no-footer dtr-column mt-3"
                  id="orderTable">
                  <thead>
                      <tr>
                          <th>Hình ảnh</th>
                          <th>Sản phẩm</th>
                          <th>Ngày mua hàng</th>
                          <th>Trạng thái</th>
                      </tr>
                  </thead>
              </table>
          </div>
      </div>
  </div>
</div>